<%- include('partial/header.ejs') %>
    <center><img src="devanshi img.jpg" alt="Devanshi picture" id="profing"></center>
    <br>
    <br>
    <center><h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color:white;">Devanshi</h2></center>
    <center><h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color:white;">Entrepreneur</h3></center>

    <p class="abtme">
        
        <br>DS Company's entrepreneurial spirit drives us to constantly seek new opportunities, tackle complex challenges, and pioneer innovative solutions. We understand that software development is not just about writing code; it's about shaping the future, one line of code at a time.
        <br>
        
        As entrepreneurs in the software development industry, we are dedicated to pushing boundaries, driving innovation, and helping our clients achieve their digital ambitions. Together, we embark on an exciting journey where possibilities are limitless, and the future is ours to create.
        <br>
         
    </p>
<%- include('partial/footer.ejs') %>
