<%- include('partial/header.ejs') %>
    <h1 class="welcomemsg"></h1>
    <br>
    <div id='mission-stmt'>
        <h1 class="welcomemsg">Welcome to Devanshi's Portfolio Website</h1>

        <br>
        <br>
        <h1>Mission Statement</h1>
        <p class="stmt">We at DS firm are a dedicated group of inventors, dreamers, and problem solvers; we are not just a software development firm. Every piece of code we write and every solution we create is motivated by our entrepreneurial spirit.
            <br>
            <br>
            
            <br>
            <br>
            
            <br>
            <br>
            Explore our portfolio and let's create something extraordinary together.
        </p>
    </div>
    <div id="button">
        <a href="/about">
            <button></button>
            Contact for more information.
        </a>
    </div>
<%- include('partial/footer.ejs') %>